
    <!DOCTYPE html>
    <html>
        <head>
            <meta charset="UTF-8">
            <title>changeplane</title>
    
            <script src="http://code.jquery.com/jquery-2.0.3.min.js" ></script>
            <script src="http://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
            <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
            <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />	
            
            <!--CSS principal-->
            <link href="/styles.css" rel="stylesheet" type="text/css"/>
            
            <!--CSS pour les fonts-->
            <link href="/ionicons.min.css" rel="stylesheet"/>
            <link href="/font-awesome.min.css" rel="stylesheet"/>
            
            <!--CSS Bootstrap-->
            <link href="/bootstrap.min.css" rel="stylesheet"/>
    
            <!--CSS pour les animations-->
            <link href="/animate.min.css" rel="stylesheet"/>
    
            <!--CSS Fonts Google-->
            <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
        </head>
        
        <body>         
            <fieldset>      
                    
            <h1>Fly Direct</h1>
    
                    <div class="container">
                            <div class="row">
                      
                               <div class="col-md-12 col-sm-12">
                                  
                                     <!-- iso section -->
                                     <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">
                      
                                        <ul class="filter-wrapper clearfix">
                                                <center>
                                                    <li><a href="index" class="">Accueil</a></li>  <!--/ /index -->
                                                    <li><a href="vols" class="" >Les vols</a></li>
                                                    <% if(admin=="1") { %>  <li><a href="addplane" class="">Ajouter vols</a></li> <% } %> 
                                                    <% if(admin=="1") { %> <li><a href="gestionmembre" class="">Gestion membres</a></li> <% } %>
                                                    <% if (!user) {%> <li><a href="inscription" class="">S'inscrire</a></li> <% } %> 
                                                    <% if(!user) {%> <li><a href="connexion" class="">Se connecter</a></li> <% } %>
                                                    <% if(user) {%> <li><a href="modif" class="">Mon compte</a></li> <% } %>
                                                    <% if (user) {%><li><a href="deconnexion" class="">Se deconnecter</a></li><% } %> 
                                                 </center>
                                        </ul>
                
                    </div>
                        
    
                        <div id="planechange">
                                <center>
                                    <legend><h3>Modification du vol</h3></legend>
                                </center>		
                                    <div id="plane-change"></div>
                                </div>
                        
                                        <div id="plane-container">
                        
                                            <form method="POST" action="modifplane/<%= avion._id %>" onsubmit="return validation()">
                                                <center>
    
                                                    <fieldset>
                                                        <table>	
                                
                                                            <tr>
                                                                <td>						
                                                                        <label><h4>Départ : </h4></label>
                                                                        <td align="right">
                                                                        <input type="time" name="heuredepart" placeholder="Départ" value="<%= avion.heuredepart %>"/><br/>
                                                                        <p></p>
                                                                        </td>	
                                                                </td>
                                                            </tr>
                                                            
                                                            <tr>	
                                                                <td>	
                                                                        <label><h4>Arrivée : </h4></label>
                                                                        <td align="right">
                                                                        <input type="time" name="heurearrivee" placeholder="Arrivée" value="<%= avion.heurearrivee %>"/><br/>
                                                                        <p></p>
                                                                        </td>
                                                                </td>
                                                            </tr>
                                                            <tr>	
                                                                <td>
                                                                        <label><h4>Numéro de vol : </h4></label>
                                                                        <td align="right">
                                                                        <input type="text" name="numvol" placeholder="Numéro de vol" value="<%= avion.numvol %>"/><br/>
                                                                        <p></p>
                                                                        </td>
                                                                </td>
                                                            </tr>
                                                            <tr>	
                                                                <td>
                                                                        <label><h4>Type avion : </h4></label>
                                                                        <td align="right">
                                                                        <input type="text" name="typeavion" placeholder="type d'avion" value="<%= avion.typeavion %>"/><br/>
                                                                        <p></p>
                                                                        </td>
                                                                </td>
                                                            </tr>
                                                            <tr>	
                                                                    <td>
                                                                            <label><h4>Transporteur : </h4></label>
                                                                            <td align="right">
                                                                            <input type="text" name="transporteur" placeholder="Transporteur" value="<%= avion.transporteur %>"/><br/>
                                                                            <p></p>
                                                                            </td>
                                                                    </td>
                                                            </tr>
                                                            <tr>	
                                                                    <td>
                                                                            <label><h4>Piste : </h4></label>
                                                                            <td align="right">
                                                                            <input type="text" name="piste" placeholder="Piste" value="<%= avion.piste %>" /><br/>
                                                                            <p></p>
                                                                            </td>
                                                                    </td>
                                                            </tr>
                                                            <tr>	
                                                                    <td>
                                                                            <label><h4>Aéroport arrivée : </h4></label>
                                                                            <td align="right">
                                                                            <input type="text" name="aeroportarrivee" placeholder="Aéroport arrivée" value="<%= avion.aeroportarrivee %>" /><br/>
                                                                            <p></p>
                                                                            </td>
                                                                    </td>
                                                            </tr>
                                                            <tr>	
                                                                    <td>
                                                                            <label><h4>Altitude : </h4></label>
                                                                            <td align="right">
                                                                            <input type="text" name="altitude" placeholder="Altitude" value="<%= avion.altitude %>" /><br/>
                                                                            <p></p>
                                                                            </td>
                                                                    </td>
                                                            </tr>
                    
                                                            <tr>	
                                                                    <td>
                                                                            <label><h4>Vitesse : </h4></label>
                                                                            <td align="right">
                                                                            <input type="text" name="vitesse" placeholder="Vitesse" value="<%= avion.vitesse %>"/><br/>
                                                                            <p></p>
                                                                            </td>
                                                                    </td>
                                                            </tr>
                    
                                                            <tr>	
                                                                    <td>
                                                                            <label><h4>Orientation : </h4></label>
                                                                            <td align="right">
                                                                            <input type="text" name="orientation" placeholder="Orientation" value="<%= avion.orientation %>"/><br/>
                                                                            <p></p>
                                                                            </td>
                                                                    </td>
                                                            </tr>
                    
                                                            <tr>	
                                                                    <td>
                                                                            <label><h4>Distance à parcourir : </h4></label>
                                                                            <td align="right">
                                                                            <input type="text" name="distanceDA" placeholder="Distance" value="<%= avion.distanceDA %>"/><br/>
                                                                            <p></p>
                                                                            </td>
                                                                    </td>
                                                            </tr>
                    
                                
                                                            <tr>	
                                                                <td align="right"><br/>
                                                                <button type="submit" name="submit"><h5>Valider</h5></button>
                                                                <p></p>
                                                                </td>
                                                            </tr>
                                
                                                        </table>
                    
                                                        </fieldset>
                    
                        
                                                </center>     
                                                
                                                <script type="text/javascript">
                            
                                                    function validation(){
                                                    alert('Votre avion a bien été modifié !');
                                                    };
    
                                                    
                            
                                                </script>
    
                                              
                                            </form>
                            
                                        </div>
    
            </body>
                            
    </html>
                                                        
