<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>vols</title>
        <style type="text/css">
        details {color : brown;}
        summary {cursor: pointer;}

        
        </style>
        
        <!--CSS principal-->
        <link href="/styles.css" rel="stylesheet" type="text/css"/>
        
        <!--CSS pour les fonts-->
        <link href="/ionicons.min.css" rel="stylesheet"/>
        <link href="/font-awesome.min.css" rel="stylesheet"/>
        
        <!--CSS Bootstrap-->
        <link href="/bootstrap.min.css" rel="stylesheet"/>

        <!--CSS pour les animations-->
        <link href="/animate.min.css" rel="stylesheet"/>
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">

        <!--CSS Fonts Google-->
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,300' rel='stylesheet' type='text/css'>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.12.4.js"></script>
        <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>

    <body>
        
        <h1>Fly Direct</h1>
                
        <div class="container">
            <div class="row">    
               <div class="col-md-12 col-sm-12">                
                     <!-- iso section -->
                     <div class="iso-section wow fadeInUp" data-wow-delay="2.6s">     
                        <ul class="filter-wrapper clearfix">
                                <center>
                                    <li><a href="index" class="">Accueil</a></li>  <!--/ /index -->
                                    <li><a href="vols" class="" >Les vols</a></li>
                                    <% if(admin=="1") { %><li><a href="addplane" class="">Ajouter vols</a></li> <% } %> 
                                    <% if(admin=="1") { %> <li><a href="gestionmembre" class="">Gestion membres</a></li> <% } %>
                                    <% if(!user) {%> <li><a href="inscription" class="">S'inscrire</a></li> <% } %> 
                                    <% if(!user) {%> <li><a href="connexion" class="">Se connecter</a></li> <% } %>
                                    <% if(user) {%> <li><a href="modif" class="">Mon compte</a></li> <% } %>
                                    <% if(user) {%><li><a href="deconnexion" class="">Se deconnecter</a></li><% } %> 
                                </center>   
                        </ul>
                    </div>
                </div>
            </div>
         </div>



         
         <div class="container">
             
         <table id="tableavion" border="4" width="100%" bordercolor="#808080" frame="hsides" rules="rows" >
            <tr><th>Heure de départ</th><th>Heure d'arrivée</th><th>Numéro de vol</th><th>De/Vers Aéroport</th><th>Altitude</th><% if(admin=="1") { %><th>Actions</th> <% } %> <th>Temps réel</th></tr>        
             
            <% avion.forEach(function(plane){ %>
            <tr id="<%= plane.numvol %>"><td id="depart"><%= plane.heuredepart %></td><td id="arrivee"><%= plane.heurearrivee %></td>
                <td><details><summary><a><%= plane.numvol %></a></summary>
                        <p>Type Avion :<%= plane.typeavion %><br/>
                           Transporteur :<%= plane.transporteur %><br/>
                           Piste :<%= plane.piste %><br/> 
                           Vitesse :<%= plane.vitesse %><br/> 
                           Orientation : <%= plane.orientation %><br/>
                           Distance : <%= plane.distanceDA %><br/>
                        </p></details></td>
                        <td><%= plane.aeroportarrivee %></td><td id="altitude"><%= plane.altitude %></td><% if(admin=="1") { %><td><a href="modifplane/<%= plane._id %>">Modifier</a>/<a href="deleteplane/<%= plane._id %>">Supprimer</a></td><% } %>        
                        
                        <td id="clock"></td>
            </tr>
            <% }) %>

        </table> 
        
        </div>


        <script type="text/javascript" src="jquery.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
        <script type="text/javascript" src="effect.js"></script>
        <script src="/socket.io/socket.io.js"></script>
       
        <script>


            $(document).ready(function() {

                function getElementsById(depart) {
                return [document.getElementById("depart")];
                }

                function getElementsById(arrivee) {
                return [document.getElementById("arrivee")];
                }

                function getElementsById(altitude) {
                return [document.getElementById("altitude")];
                }
              

            console.log(depart, arrivee, altitude);
            

            var socket = io.connect('http://localhost:4000');             // initialiser le temps réel
                socket.on('envoitemps' , function(n){
                $('#clock').text(n);                                      // afichage du temps réel
              
                });



                if(depart=="#clock"){
                socket.on('Avion décole', function(){
                    $(document.body).text("Avion décole");
                    });
                }

                else if(arrivee=="#clock"){
                    socket.on('Avion attéri', function(){
                        $(document.body).text("Avion attéri");
                    });          
                }

                else if ("#clock" > depart && "#clock" < arrivee){
                    socket.on('Avion en vol', function(){
                        $(document.body).text("Avion en vol");
                    });                
                }




            });

           
                 
            /*
            setTimeout(function(){
            window.location.reload(1);               
            }, 3000);
            */
            




                 
        </script>
    

     </body>
        

    </html>